apiVersion: v1
kind: Pod
metadata:
  name: libretranslate
  labels:
    app: libretranslate
spec:
  restartPolicy: Always
  containers:
  - name: libretranslate
    image: docker.io/libretranslate/libretranslate:latest
    imagePullPolicy: Always
    env:
    - name: TZ
      value: "{{.TZ}}"
    ports:
    - containerPort: 5000
    volumeMounts:
    - name: models
      mountPath: /home/libretranslate/.local

  volumes:
  - name: models
    persistentVolumeClaim:
      claimName: libretranslate-models
