[Unit]
Description=authelia

[Container]
Image=docker.io/authelia/authelia:4
ContainerName=authelia
Network=site
PublishPort=127.0.0.1:9091:9091
Environment=TZ=${site.env.timezone}
Environment=DOMAIN=${site.env.domain}
Secret=${secrets.authelia.session},type=env,target=SESSION_SECRET
Secret=${secrets.authelia.storage},type=env,target=STORAGE_ENCRYPTION_KEY
Secret=${secrets.authelia.hmac},type=env,target=OIDC_HMAC_SECRET
Secret=${secrets.authelia.oidc_client_secret},type=env,target=OIDC_CLIENT_SECRET
Secret=${secrets.authelia.session},type=env,target=AUTHELIA_SESSION_SECRET
Secret=${secrets.authelia.storage},type=env,target=AUTHELIA_STORAGE_ENCRYPTION_KEY
Environment=X_AUTHELIA_CONFIG_FILTERS=template
Volume=${component.dir}/configuration.yml:/config/configuration.yml:ro
Volume=${site.data.roots.appdata}/authelia:/config/userdb
Volume=${site.data.roots.appdata}/authelia/data:/data

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
