apiVersion: v1
kind: Pod
metadata:
  name: authelia
  labels:
    app: authelia
spec:
  restartPolicy: Always
  containers:
  - name: authelia
    image: docker.io/authelia/authelia:4
    env:
    - name: TZ
      value: "{{.TZ}}"
    - name: DOMAIN
      value: "{{.DOMAIN}}"
    - name: SESSION_SECRET
      value: "{{.AUTHELIA_SESSION_SECRET}}"
    - name: STORAGE_ENCRYPTION_KEY
      value: "{{.AUTHELIA_STORAGE_ENCRYPTION_KEY}}"
    - name: OIDC_HMAC_SECRET
      value: "{{.AUTHELIA_OIDC_HMAC_SECRET}}"
    - name: AUTHELIA_SESSION_SECRET
      value: "{{.AUTHELIA_SESSION_SECRET}}"
    - name: AUTHELIA_STORAGE_ENCRYPTION_KEY
      value: "{{.AUTHELIA_STORAGE_ENCRYPTION_KEY}}"
    - name: X_AUTHELIA_CONFIG_FILTERS
      value: template
    ports:
    - containerPort: 9091
    volumeMounts:
    - name: config
      mountPath: /config/configuration.yml
      readOnly: true
    - name: userdb
      mountPath: /config/userdb
    - name: data
      mountPath: /data
  volumes:
  - name: config
    hostPath:
      path: "{{ m_outputDir }}/components/authelia/configuration.yml"
  - name: userdb
    hostPath:
      path: "{{.DATA_ROOT}}/system/authelia"
  - name: data
    persistentVolumeClaim:
      claimName: authelia-data
