[Unit]
Description=prowlarr

[Container]
Image=lscr.io/linuxserver/prowlarr:latest
ContainerName=prowlarr
Network=site
PublishPort=9696:9696
Environment=TZ=${site.env.timezone}
Environment=PUID=${host.operations.workload.uid}
Environment=PGID=${host.operations.workload.gid}
Volume=${host.data.roots.appdata}/arr/prowlarr:/config

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
