[Unit]
Description=vaultwarden

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden
Network=site
PublishPort=127.0.0.1:8082:80
Pull=always
Environment=TZ=${site.env.timezone}
Environment=DOMAIN=https://pass.${site.env.domain}
Secret=${secrets.vaultwarden.admin_token},type=env,target=ADMIN_TOKEN
Environment=SIGNUPS_ALLOWED=true
Environment=WEBSOCKET_ENABLED=true
Volume=${site.data.roots.appdata}/vaultwarden:/data

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
