[Unit]
Description=caddymanager

[Kube]
Yaml={{ m_outputDir }}/components/caddymanager/pod.yaml
Network=site.network
PublishPort=127.0.0.1:8086:80

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
