apiVersion: v1
kind: Pod
metadata:
  name: rustdesk
  labels:
    app: rustdesk
spec:
  hostNetwork: true
  restartPolicy: Always
  containers:
  - name: hbbr
    image: docker.io/rustdesk/rustdesk-server:latest
    args: ["hbbr"]
    volumeMounts:
    - name: data
      mountPath: /root
  - name: hbbs
    image: docker.io/rustdesk/rustdesk-server:latest
    args: ["hbbs", "-r", "{{.NAS_LAN_IP}}:21117"]
    volumeMounts:
    - name: data
      mountPath: /root
  volumes:
  - name: data
    hostPath:
      path: "{{.DATA_ROOT}}/system/rustdesk"
