[Unit]
Description=frigate

[Kube]
Yaml={{ m_outputDir }}/components/frigate/pod.yaml
Network=site.network
PublishPort=8971:8971
PublishPort=8554:8554
PublishPort=8555:8555
PublishPort=8555:8555/udp
PublishPort=1883:1883

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
