[Unit]
Description=openreader

[Container]
Image=ghcr.io/richardr1126/openreader:latest
ContainerName=openreader
Network=site
PublishPort=3003:3003
Pull=always
Environment=TZ=${site.env.timezone}
Environment=BASE_URL=https://read.${site.env.domain}
Secret=${secrets.openreader.auth_secret},type=env,target=AUTH_SECRET
Environment=AUTH_TRUSTED_ORIGINS=https://read.${site.env.domain},https://openreader.${site.env.domain},https://reader.${site.env.domain}
Environment=ADMIN_EMAILS=admin@${site.env.domain}
Volume=${host.data.roots.appdata}/openreader:/app/docstore

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
