[Unit]
Description=collabora

[Container]
Image=docker.io/collabora/code:latest
ContainerName=collabora
Network=site
PublishPort=9980:9980
AddCapability=MKNOD
AddCapability=SYS_ADMIN
PodmanArgs=--security-opt=seccomp=unconfined
Environment=TZ=${site.env.timezone}
Environment=DONT_GEN_SSL_CERT=YES
Environment=extra_params="--o:ssl.enable=false --o:ssl.termination=true --o:ssl.ssl_verification=false --o:welcome.enable=false"

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
