[Unit]
Description=n8n

[Container]
Image=docker.n8n.io/n8nio/n8n:latest
ContainerName=n8n
Network=site
PublishPort=5678:5678
Pull=always
Environment=TZ=${site.env.timezone}
Environment=GENERIC_TIMEZONE=${site.env.timezone}
Environment=N8N_HOST=flow.${site.env.domain}
Environment=N8N_PORT=5678
Environment=N8N_PROTOCOL=https
Environment=WEBHOOK_URL=https://flow.${site.env.domain}/
Environment=N8N_EDITOR_BASE_URL=https://flow.${site.env.domain}/
Secret=${secrets.n8n.encryption_key},type=env,target=N8N_ENCRYPTION_KEY
Environment=N8N_PROXY_HOPS=1
Environment=N8N_DIAGNOSTICS_ENABLED=false
Volume=${host.data.roots.appdata}/n8n:/home/node/.n8n

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
