apiVersion: v1
kind: Pod
metadata:
  name: n8n
  labels:
    app: n8n
spec:
  restartPolicy: Always
  containers:
  - name: n8n
    image: docker.n8n.io/n8nio/n8n:latest
    imagePullPolicy: Always
    env:
    - name: TZ
      value: "{{.TZ}}"
    - name: GENERIC_TIMEZONE
      value: "{{.TZ}}"
    - name: N8N_HOST
      value: "flow.{{.DOMAIN}}"
    - name: N8N_PORT
      value: "5678"
    - name: N8N_PROTOCOL
      value: "https"
    - name: WEBHOOK_URL
      value: "https://flow.{{.DOMAIN}}/"
    - name: N8N_EDITOR_BASE_URL
      value: "https://flow.{{.DOMAIN}}/"
    - name: N8N_ENCRYPTION_KEY
      value: "{{.N8N_ENCRYPTION_KEY}}"
    - name: N8N_PROXY_HOPS
      value: "1"
    - name: N8N_DIAGNOSTICS_ENABLED
      value: "false"
    ports:
    - containerPort: 5678
    volumeMounts:
    - name: data
      mountPath: /home/node/.n8n

  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: n8n-data
