[Unit]
Description=jellyfin

[Container]
Image=lscr.io/linuxserver/jellyfin:latest
ContainerName=jellyfin
Network=site
PublishPort=8096:8096
Pull=always
AddDevice=${host.resources.gpu.gpu0.resource}=all
Environment=TZ=${site.env.timezone}
Environment=PUID=${host.operations.workload.uid}
Environment=PGID=${host.operations.workload.gid}
Environment=NVIDIA_VISIBLE_DEVICES=${host.resources.gpu.gpu0.uuid}
Environment=NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
Volume=${host.data.roots.appdata}/jellyfin:/config
Volume=${site.data.roots.groups}/all/media:/data/media

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
