apiVersion: v1
kind: Pod
metadata:
  name: restic
  labels:
    app: restic
spec:
  restartPolicy: Always
  containers:
  - name: restic
    image: docker.io/restic/restic:latest
    imagePullPolicy: Always
    env:
    - name: TZ
      value: "{{.TZ}}"
    - name: RESTIC_REPOSITORY
      value: "rest:http://{{.RESTIC_REST_USER}}:{{.RESTIC_REST_PASSWORD}}@{{.SURFACE_UPSTREAM}}:8000/core"
    - name: RESTIC_PASSWORD
      value: "{{.RESTIC_PASSWORD}}"
    - name: RESTIC_CACHE_DIR
      value: "/cache"
    - name: UPTIME_KUMA_PUSH_URL
      value: "{{.UPTIME_KUMA_PUSH_URL}}"
    volumeMounts:
    - name: data
      mountPath: /data
      readOnly: true
    - name: cache
      mountPath: /cache
    - name: script
      mountPath: /backup.sh
      readOnly: true
    command: ["/bin/sh", "/backup.sh"]

  volumes:
  - name: data
    hostPath:
      path: {{.DATA_ROOT}}
  - name: cache
    hostPath:
      path: {{.DATA_ROOT}}/system/restic
  - name: script
    hostPath:
      path: {{ m_outputDir }}/components/restic/backup.sh
