[Unit]
Description=restic

[Container]
Image=docker.io/restic/restic:latest
ContainerName=restic
Network=site
Pull=always
Environment=TZ=${site.env.timezone}
Environment=RESTIC_REPOSITORY=rest:http://${site.env.upstream}:8000/${host.name}
Secret=${secrets.restic.password},type=env,target=RESTIC_PASSWORD
Environment=RESTIC_CACHE_DIR=/cache
Environment=UPTIME_KUMA_PUSH_URL=${site.env.uptime_kuma_push_url}
Volume=${site.data.roots.appdata}:/data:ro
Volume=${site.data.roots.appdata}/restic:/cache
Volume=${component.dir}/backup.sh:/backup.sh:ro
Entrypoint=/bin/sh
Exec=/backup.sh

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
