apiVersion: v1
kind: Pod
metadata:
  name: arr
  labels:
    app: arr
spec:
  restartPolicy: Always
  containers:
  - name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    env:
    - name: TZ
      value: "{{.TZ}}"
    - name: PUID
      value: "{{.PUID}}"
    - name: PGID
      value: "{{.PGID}}"
    ports:
    - containerPort: 8989
    volumeMounts:
    - name: sonarr
      mountPath: /config
    - name: media
      mountPath: /data/media
    - name: downloads
      mountPath: /downloads
  - name: radarr
    image: lscr.io/linuxserver/radarr:latest
    env:
    - name: TZ
      value: "{{.TZ}}"
    - name: PUID
      value: "{{.PUID}}"
    - name: PGID
      value: "{{.PGID}}"
    ports:
    - containerPort: 7878
    volumeMounts:
    - name: radarr
      mountPath: /config
    - name: media
      mountPath: /data/media
    - name: downloads
      mountPath: /downloads
  - name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    env:
    - name: TZ
      value: "{{.TZ}}"
    - name: PUID
      value: "{{.PUID}}"
    - name: PGID
      value: "{{.PGID}}"
    ports:
    - containerPort: 9696
    volumeMounts:
    - name: prowlarr
      mountPath: /config
  - name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    env:
    - name: TZ
      value: "{{.TZ}}"
    - name: LOG_LEVEL
      value: info
  volumes:
  - name: sonarr
    persistentVolumeClaim:
      claimName: sonarr-config
  - name: radarr
    persistentVolumeClaim:
      claimName: radarr-config
  - name: prowlarr
    persistentVolumeClaim:
      claimName: prowlarr-config
  - name: media
    hostPath:
      path: "{{.NFS_SHARED}}/media"
  - name: downloads
    hostPath:
      path: "{{.NFS_SHARED}}/downloads"
