[Unit]
Description=radicale

[Container]
Image=docker.io/opencloudeu/radicale:latest
ContainerName=radicale
Network=site
UserNS=keep-id
User=${host.operations.workload.uid}:${host.operations.workload.gid}
Volume=${component.dir}/config:/etc/radicale/config:ro
Volume=${host.appdata}/radicale:/var/lib/radicale

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
