[Unit]
Description=sonarr

[Container]
Image=lscr.io/linuxserver/sonarr:latest
ContainerName=sonarr
Network=site
PublishPort=8989:8989
Environment=TZ=${site.env.timezone}
Environment=PUID=${host.operations.workload.uid}
Environment=PGID=${host.operations.workload.gid}
Volume=${host.data.roots.appdata}/arr/sonarr:/config
Volume=${site.data.roots.groups}/all/media:/data/media
Volume=${site.data.roots.groups}/all/downloads:/downloads

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
