[Unit]
Description=bytestash

[Container]
Image=ghcr.io/jordan-dalby/bytestash:latest
ContainerName=bytestash
Network=site
PublishPort=127.0.0.1:5001:5000
Pull=always
AddHost=auth.${site.env.domain}:${host-loopback-mapped-ip}
Environment=TZ=${site.env.timezone}
Environment=BASE_PATH=
Secret=${secrets.bytestash.jwt},type=env,target=JWT_SECRET
Environment=TOKEN_EXPIRY=24h
Environment=ALLOW_NEW_ACCOUNTS=true
Environment=DEBUG=false
Environment=DISABLE_ACCOUNTS=false
Environment=DISABLE_INTERNAL_ACCOUNTS=false
Environment=ALLOWED_HOSTS=${service.public_host}
Environment=OIDC_ENABLED=true
Environment=OIDC_DISPLAY_NAME=Authelia
Environment=OIDC_ISSUER_URL=https://auth.${site.env.domain}
Environment=OIDC_CLIENT_ID=bytestash
Secret=${secrets.authelia.oidc_client_secret},type=env,target=OIDC_CLIENT_SECRET
Environment=OIDC_SCOPES=openid profile email
Environment=NODE_TLS_REJECT_UNAUTHORIZED=0
Volume=${site.data.roots.appdata}/bytestash:/data/snippets

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
