[Unit]
Description=scriberr

[Container]
Image=ghcr.io/rishikanthc/scriberr-cuda:latest
ContainerName=scriberr
Network=site
PublishPort=8085:8080
Pull=always
AddDevice=${host.resources.gpu.gpu0.resource}=all
Environment=TZ=${site.env.timezone}
Environment=PUID=10001
Environment=PGID=10001
Environment=APP_ENV=production
Environment=ALLOWED_ORIGINS=https://voice.${site.env.domain},https://scribe.${site.env.domain},https://transcribe.${site.env.domain},https://scriberr.${site.env.domain}
Environment=NVIDIA_VISIBLE_DEVICES=${host.resources.gpu.gpu0.uuid}
Environment=NVIDIA_DRIVER_CAPABILITIES=compute,utility
Volume=${host.data.roots.appdata}/scriberr/data:/app/data
Volume=${host.data.roots.appdata}/scriberr/whisperx:/app/whisperx-env

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
