[Unit]
Description=homepage

[Container]
Image=ghcr.io/gethomepage/homepage:latest
ContainerName=homepage
Network=site
PublishPort=127.0.0.1:3000:3000
Environment=TZ=${site.env.timezone}
Environment=NODE_OPTIONS=--dns-result-order=ipv4first
Environment=HOMEPAGE_ALLOWED_HOSTS=${site.homepage.allowed_hosts}
Environment=HOMEPAGE_VAR_DOMAIN=${site.env.domain}
Environment=HOMEPAGE_VAR_SURFACE_UPSTREAM=${site.hosts.mantle.ip}
Environment=HOMEPAGE_VAR_NAS_LAN_IP=${site.networking.ingress.host.ip}
Environment=HOMEPAGE_VAR_HOST_LOOPBACK=${host-loopback-mapped-ip}
Environment=HOMEPAGE_VAR_PIHOLE_WEB_PORT=8088
Secret=${secrets.host.pi-hole.web_password},type=env,target=HOMEPAGE_VAR_PIHOLE_TOKEN
Secret=${secrets.host.mantle.pi-hole.web_password},type=env,target=HOMEPAGE_VAR_PIHOLE_MANTLE_TOKEN
Environment=HOMEPAGE_VAR_TZ=${site.env.timezone}
Environment=HOMEPAGE_VAR_LAT=${site.env.latitude}
Environment=HOMEPAGE_VAR_LONG=${site.env.longitude}
Environment=HOMEPAGE_VAR_ROUTER_LAN_IP=${site.env.lan_ip}
Volume=${component.dir}/config:/app/config
Volume=${component.dir}/images:/app/public/images
Volume=/run/user/${host.operations.workload.uid}/podman:/run/podman:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
