[Unit]
Description=qbittorrent

[Kube]
Yaml={{ m_outputDir }}/components/qbittorrent/pod.yaml
Network=site.network
PublishPort=8081:8081
PublishPort=6881:6881
PublishPort=6881:6881/udp

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
