[Unit]
Description=qbittorrent

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=qbittorrent
Network=site
PublishPort=8081:8081
PublishPort=6881:6881
PublishPort=6881:6881/udp
Pull=always
Environment=TZ=${site.env.timezone}
Environment=PUID=${host.operations.workload.uid}
Environment=PGID=${host.operations.workload.gid}
Environment=WEBUI_PORT=8081
Environment=TORRENTING_PORT=6881
Volume=${host.data.roots.appdata}/qbittorrent:/config
Volume=${site.data.roots.groups}/all/downloads:/downloads
Volume=${site.data.roots.groups}/all/media:/data/media
Volume=${component.dir}/custom-cont-init.d:/custom-cont-init.d:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
