[Unit]
Description=grafana

[Container]
Image=docker.io/grafana/grafana:latest
ContainerName=grafana
Network=site
PublishPort=3000:3000
AddHost=auth.${site.env.domain}:${site.networking.ingress.host.ip}
Environment=TZ=${site.env.timezone}
Secret=${secrets.grafana.admin_password},type=env,target=GF_SECURITY_ADMIN_PASSWORD
Environment=GF_SERVER_ROOT_URL=https://grafana.${site.env.domain}
Environment=GF_AUTH_GENERIC_OAUTH_ENABLED=true
Environment=GF_AUTH_GENERIC_OAUTH_CLIENT_ID=grafana
Secret=${secrets.authelia.oidc_client_secret},type=env,target=GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
Environment=GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://auth.${site.env.domain}/api/oidc/authorization
Environment=GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://auth.${site.env.domain}/api/oidc/token
Environment=GF_AUTH_GENERIC_OAUTH_API_URL=https://auth.${site.env.domain}/api/oidc/userinfo
Volume=${host.data.roots.appdata}/monitoring/grafana:/var/lib/grafana

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
