[Unit]
Description=radarr

[Container]
Image=lscr.io/linuxserver/radarr:latest
ContainerName=radarr
Network=site
PublishPort=7878:7878
Environment=TZ=${site.env.timezone}
Environment=PUID=${host.operations.workload.uid}
Environment=PGID=${host.operations.workload.gid}
Volume=${host.data.roots.appdata}/arr/radarr:/config
Volume=${site.data.roots.groups}/all/media:/data/media
Volume=${site.data.roots.groups}/all/downloads:/downloads

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
