[Unit]
Description=homeassistant

[Kube]
Yaml={{ m_outputDir }}/components/homeassistant/pod.yaml
Network=site.network
PublishPort=8123:8123

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
