[Unit]
Description=linkding

[Container]
Image=docker.io/sissbruecker/linkding:latest
ContainerName=linkding
Network=site
PublishPort=127.0.0.1:9093:9090
Pull=always
AddHost=auth.${site.env.domain}:${host-loopback-mapped-ip}
Environment=TZ=${site.env.timezone}
Environment=LD_SUPERUSER_NAME=admin
Secret=${secrets.linkding.superuser_password},type=env,target=LD_SUPERUSER_PASSWORD
Environment=LD_CSRF_TRUSTED_ORIGINS=https://links.${site.env.domain},https://bookmarks.${site.env.domain},https://linkding.${site.env.domain},https://auth.${site.env.domain}
Environment=LD_ENABLE_OIDC=True
Environment=OIDC_RP_CLIENT_ID=linkding
Secret=${secrets.authelia.oidc_client_secret},type=env,target=OIDC_RP_CLIENT_SECRET
Environment=OIDC_OP_AUTHORIZATION_ENDPOINT=https://auth.${site.env.domain}/api/oidc/authorization
Environment=OIDC_OP_TOKEN_ENDPOINT=https://auth.${site.env.domain}/api/oidc/token
Environment=OIDC_OP_USER_ENDPOINT=https://auth.${site.env.domain}/api/oidc/userinfo
Environment=OIDC_OP_JWKS_ENDPOINT=https://auth.${site.env.domain}/jwks.json
Environment=OIDC_VERIFY_SSL=False
Volume=${site.data.roots.appdata}/linkding:/etc/linkding/data

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
