[Unit]
Description=monitoring

[Kube]
Yaml={{ m_outputDir }}/components/monitoring/pod.yaml
Network=site.network
PublishPort=9090:9090
PublishPort=3000:3000

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
