[Unit]
Description=jotty

[Kube]
Yaml={{ m_outputDir }}/components/jotty/pod.yaml
Network=site.network
PublishPort=127.0.0.1:3002:3000

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
