[Unit]
Description=jotty

[Container]
Image=ghcr.io/fccview/jotty:latest
ContainerName=jotty
Network=site
PublishPort=127.0.0.1:3002:3000
Pull=always
AddHost=auth.${site.env.domain}:${host-loopback-mapped-ip}
Environment=TZ=${site.env.timezone}
Environment=PUID=${host.operations.workload.uid}
Environment=PGID=${host.operations.workload.gid}
Environment=NODE_ENV=production
Environment=APP_URL=https://notes.${site.env.domain}
Environment=HTTPS=true
Environment=AUTH_MODE=oidc
Environment=OIDC_ISSUER=https://auth.${site.env.domain}
Environment=OIDC_CLIENT_ID=jotty
Secret=${secrets.authelia.oidc_client_secret},type=env,target=OIDC_CLIENT_SECRET
Environment=SSO_FALLBACK_LOCAL=yes
Environment=OIDC_ADMIN_GROUPS=admins
Environment=OIDC_USER_GROUPS=users
Environment=OIDC_GROUPS_SCOPE=groups
Environment=INTERNAL_API_URL=http://localhost:3000
Environment=NODE_TLS_REJECT_UNAUTHORIZED=0
Volume=${site.data.roots.appdata}/jotty/data:/app/data
Volume=${site.data.roots.appdata}/jotty/config:/app/config
Volume=${site.data.roots.appdata}/jotty/cache:/app/.next/cache

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
