[Unit]
Description=seerr

[Container]
Image=ghcr.io/seerr-team/seerr:latest
ContainerName=seerr
Network=site
PublishPort=5055:5055
Pull=always
Environment=TZ=${site.env.timezone}
Environment=LOG_LEVEL=info
Volume=${host.data.roots.appdata}/seerr:/app/config

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
