[Unit]
Description=Scrutiny (rootful)
After=network-online.target

[Container]
Image=ghcr.io/analogj/scrutiny:latest-omnibus
ContainerName=scrutiny
Network=site.network
PublishPort=${site.networking.ingress.host.ip}:8080:8080
PublishPort=127.0.0.1:8080:8080
Environment=TZ=${site.env.timezone}
Environment=COLLECTOR_HOST_ID=${host.name}
Environment=COLLECTOR_CRON_SCHEDULE=0 6 * * *
Environment=COLLECTOR_RUN_STARTUP=true
Volume=${site.data.roots.appdata}/scrutiny/config:/opt/scrutiny/config
Volume=${site.data.roots.appdata}/scrutiny/influxdb:/opt/scrutiny/influxdb
Volume=/run/udev:/run/udev:ro
Volume=/dev:/dev
PodmanArgs=--privileged

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
