[Unit]
Description=Scrutiny (rootful)
After=network-online.target

[Container]
Image=ghcr.io/analogj/scrutiny:latest-omnibus
ContainerName=scrutiny
Network=site.network
PublishPort={{.NAS_LAN_IP}}:8080:8080
PublishPort=127.0.0.1:8080:8080
Environment=TZ={{.TZ}}
Environment=COLLECTOR_HOST_ID=core
Environment=COLLECTOR_CRON_SCHEDULE=0 6 * * *
Environment=COLLECTOR_RUN_STARTUP=true
Volume={{.DATA_ROOT}}/system/scrutiny/config:/opt/scrutiny/config
Volume={{.DATA_ROOT}}/system/scrutiny/influxdb:/opt/scrutiny/influxdb
Volume=/run/udev:/run/udev:ro
Volume=/dev:/dev
PodmanArgs=--privileged

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
