[Unit]
Description=Materia system update (nft, wg-quick, Scrutiny)
After=network-online.target

[Service]
Type=oneshot
User=root
Environment=MATERIA_ATTRIBUTES=age
ExecStart=/usr/local/bin/materia update
WorkingDirectory=/var/lib/materia
