apiVersion: v1
kind: Pod
metadata:
  name: it-tools
  labels:
    app: it-tools
spec:
  restartPolicy: Always
  containers:
  - name: it-tools
    image: ghcr.io/corentinth/it-tools:latest
    imagePullPolicy: Always
    env:
    - name: TZ
      value: "{{.TZ}}"
    ports:
    - containerPort: 80

